@import url('https://fonts.googleapis.com/css?family=Montserrat|Noto+Serif:400,700|Oxygen:400,700|Varela+Round');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')

* {
  box-sizing: border-box;
}

html,
body {
  line-height: 1.75em;
  font-family: Oxygen, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 300;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  transition: color 0.15s ease-in, background 0.15s ease-in,border-color 0.15s ease-in;
}
